@charset "utf-8";
/**************************************************************************
 *
 *   Copyright 2010 American Public Media Group
 *
 *   This file is part of AIR2.
 *
 *   AIR2 is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   AIR2 is distributed in the hope that it will be useful, 
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 *   GNU General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License 
 *   along with AIR2.  If not, see <http://www.gnu.org/licenses/>.
 *
 *************************************************************************/

/* conflict resolver style */
.air2-resolve .resolver-dv {
    overflow-y: scroll;
}
.air2-resolve table.source-data {
    width: 100%;
    color: #777;
    font-size: 13px;
    padding-bottom: 20px;
}

/* header */
.air2-resolve .header th {
    font-size: 12px;
    background: #fff;
}
.air2-resolve .section-header td {
    font-weight: bold;
    color: #777;
    padding-top: 20px;
}

/* row styling */
.air2-resolve .source-data .conflict {
    background-color: #ffffc6;
    color: #333;
}
.air2-resolve .source-data .stillconflict {
    border: 2px solid #a70000;
}
.air2-resolve .source-data .email-error {
    position: absolute;
    background: #ffffc6;
    padding: 4px 4px 4px 10px;
}

/* tab-focused style */
.air2-resolve .source-data select:focus {
    background-color: #ffffc6;
    border-color: #333;
}
.air2-resolve button:focus {
    background-color: #ffffc6;
    border-color: #333;
}

/* footer */
.air2-resolve .submit-status {
    margin-left: 10px;
    padding: 4px 6px 4px 21px;
    font-size: 12px;
    font-weight: bold;
    height: 16px;
    background: transparent no-repeat 2px 50%;
}
.air2-resolve .submit-status.air2-icon-warning {
    background-color: #ffffc6;
    border: 1px solid #ddd;
}
.air2-resolve .air2-editwin-footer {
    padding: 4px 2px;
    background-color: #eee;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px;
}

/* errors style */
.air2-resolve .tsrc-error-ct {
    margin: 0 auto;
    width: 400px;
    min-height: 200px;
    border: 5px solid #ccc;
}
.air2-resolve .tsrc-error-ct .header {
    border-bottom: 2px solid #ccc;
    background: transparent url(img/icons/alert.png) no-repeat 4px 50%;
    padding: 4px 0 4px 24px;
    font-size: 14px;
}
.air2-resolve .tsrc-error-ct .header b {
    font-size: 16px;
    color: #444;
}
.air2-resolve .tsrc-error-ct .msg {
    padding: 4px;
}
