etc/profiles.ini
etc/my_profile

app/fixtures/base/TranslationMap.yml
assets/
lib/perl/blib/
lib/perl/inc/
public_html/img
public_html/js/cache
public_html/querys
public_html/rss

public_html/js/air2-compressed.js
public_html/js/fixtures.js
public_html/js/pinform.min.js
public_html/js/third_party.js
public_html/css/air2-compressed.css
public_html/css/third_party.css
