; configuration profiles

[dev]
hostname = localhost
username = yourusername
password = yoursecret
dbname   = air2
server_time_zone = America/Chicago
search_root = /usr/local/air2/search
search_uri  = http://localhost:5000
form_url    = http://localhost/air2/q/
api_key_email   = you@your.org
support_email   = you@your.org
smtp_host       = localhost
base_url        = http://localhost/air2/
shared_dir      = /usr/local/air2/shared
upload_base_dir = /usr/local/air2/upload
csv_path            = /usr/local/air2/csv
query_incoming_root = /usr/local/air2/incoming
img_root            = /usr/local/air2/shared/img
cache_root          = /usr/local/air2/cache
analytics_acct      = your-google-analytics-key
email_alerts        = you@your.org
log_dir             = /var/log/air2

