IncludeConfigFile shared.config

FuzzyIndexingMode Stemming_en1
FollowXInclude no

MetaNameAlias swishdefault inquiry
MetaNames inq_title prj_uuid inq_ext_title inq_title_sort inq_status status
MetaNames inq_desc inq_type inq_uuid inquiry.authz
MetaNames src_uuids src_uuids.count tag
MetaNames author author_uuid author_fl
MetaNames watcher watcher_uuid watcher_fl
MetaNames creator creator_uuid creator_fl
MetaNames inq_uuid_title
MetaNames loc_key
MetaNames ques_seq_value ques_value ques_choice_value
MetaNames org_id
MetaNames org_name
MetaNames org_names.count
MetaNames owner_org_uuid owner_org_name
MetaNames questions.count
MetaNames tags.count
MetaNames response_sets_count srs_ts
MetaNames org_uuid 
MetaNames inq_upd_dtim inq_upd_date inq_cre_dtim inq_cre_date inq_publish_date inq_publish_year inq_publish_month
MetaNames inquiry_annotation prj_uuid_title inq_rss_status
MetaNamesRank 10 tag
MetaNameAlias inq_uuid uuid
MetaNameAlias org_name newsroom
MetaNameAlias loc_key locale
MetaNameAlias inquiry_annotation annotation
MetaNameAlias inq_cre_date created_date
MetaNameAlias inq_publish_date published_date
MetaNameAlias inq_upd_date updated_date

PropertyNames inq_title prj_uuid inq_ext_title inq_title_sort inq_status status
PropertyNames inq_desc inq_type inq_uuid loc_key inquiry.authz
PropertyNames src_uuids src_uuids.count tag
PropertyNames inq_upd_dtim inq_cre_dtim inq_upd_date inq_cre_date inq_publish_date inq_publish_year inq_publish_month
PropertyNames author author_uuid author_fl
PropertyNames watcher watcher_uuid watcher_fl
PropertyNames creator creator_uuid creator_fl
PropertyNames inq_uuid_title prj_uuid_title
PropertyNames ques_seq_value ques_value ques_choice_value
PropertyNames org_name org_uuid org_display_name prj_name prj_display_name
PropertyNames org_names.count questions.count tags.count response_sets_count
PropertyNames owner_org_uuid srs_ts inquiry_annotation inq_rss_status owner_org_name
PropertyNameAlias inq_upd_dtim lastmod
PropertyNameAlias inquiry_annotation annotation
