IncludeConfigFile shared.config

FuzzyIndexingMode Stemming_en1
FollowXInclude no

MetaNameAlias swishdefault outcome
MetaNames out_uuid out_headline out_internal_headline out_url out_teaser out_internal_teaser out_show
MetaNames outcome.authz
MetaNames out_survey out_meta out_type out_status out_cre_dtim out_upd_dtim out_dtim
MetaNames annotation tag
MetaNames creator creator_fl updater creator_uuid updater_uuid out_cre_user out_upd_user
MetaNames org_id org_uuid org_name org_display_name
MetaNames prj_uuid prj_uuid_title
MetaNames inq_uuid inq_uuid_title
MetaNames src_uuid src_name

PropertyNames out_uuid out_headline out_internal_headline out_url out_teaser out_internal_teaser out_show
PropertyNames outcome.authz
PropertyNames out_survey out_meta out_type out_status out_cre_dtim out_upd_dtim out_dtim
PropertyNames annotation tag
PropertyNames creator creator_fl updater creator_uuid updater_uuid out_cre_user out_upd_user
PropertyNames org_id org_uuid org_name org_display_name
PropertyNames prj_uuid prj_uuid_title
PropertyNames inq_uuid inq_uuid_title
PropertyNames src_uuid src_name

PropertyNameAlias out_upd_dtim lastmod
