IncludeConfigFile shared.config

FuzzyIndexingMode Stemming_en1
FollowXInclude no

MetaNameAlias       swishdefault project
MetaNames           prj_uuid prj_name prj_display_name prj_desc prj_status 
MetaNames           prj_type prj_upd_dtim
MetaNames           author_fl author_uuid author inq_desc ques_value ques_uuid ques_choices
MetaNames           org_name org_display_name
MetaNames           inq_uuid org_uuid tag prj_upd_dtim
MetaNames           prj_uuid_title prj_uuid_name
MetaNames           inq_ext_title inq_title inq_uuid_title
MetaNames           project.authz project_inquiries.count
MetaNames           owner_org_uuid
MetaNames           prjan_value
MetaNameAlias       prj_uuid uuid
MetaNameAlias       org_name newsroom
MetaNamesRank   10  tag

PropertyNames       prj_uuid prj_name prj_display_name prj_desc prj_status 
PropertyNames       prj_type prj_upd_dtim
PropertyNames       author_fl author_uuid author inq_desc ques_value ques_uuid ques_choices
PropertyNames       org_name org_display_name
PropertyNames       inq_uuid org_uuid tag prj_upd_dtim inq_uuid_title
PropertyNames       prj_uuid_title prj_uuid_name
PropertyNameAlias   prj_upd_dtim lastmod
PropertyNames       inq_ext_title inq_title
PropertyNames       owner_org_uuid project_inquiries.count project.authz
PropertyNameAlias   project_inquiries.count project_inquiries_count
