DefaultContents XML*
IndexContents XML* gz xml

# skip any non-xml docs in the tree
FileMatch filename contains \.xml
FileRules filename contains last_modified\.
FileRules filename contains indexer\.lock

# use base filename as uri (it is uuid)
ReplaceRules replace "^/.+/" ""
ReplaceRules remove "\\.xml"

# all terms get indexed under multiple MetaNames
CascadeMetaContext on

MetaNames swishlastmodified

FollowXInclude no

MetaNameAlias swishdefault responseset

#######################################
# Meta                                #
#######################################

# src_response_set
MetaNames srs_upd_dtim srs_date

# source
MetaNames     src_first_name src_last_name 
MetaNameAlias src_first_name first_name 
MetaNameAlias src_last_name last_name 
MetaNames     primary_city primary_state primary_country primary_zip primary_county
MetaNames     primary_lat primary_long primary_lat_norm primary_long_norm 
MetaNameAlias primary_lat_norm latitude
MetaNameAlias primary_long_norm longitude 
MetaNameAlias primary_state state 
MetaNameAlias primary_city city 
MetaNameAlias primary_country country 
MetaNameAlias primary_zip zip postal_code 
MetaNameAlias primary_county county

# inquiry - inq_org - project - organization
MetaNames query_uuid query_title

# response - question
MetaNames     qa
# "responses" gets singularized to 'respons' so we alias it
MetaNames     ques_uuid ques_value respons
MetaNameAlias ques_uuid question
MetaNameAlias respons response

# match property
MetaNames     srs_ts
MetaNameAlias srs_ts lastmod

#######################################
# Properties                          #
#######################################

PropertyNameAlias swishtitle title

# src_response_set
PropertyNames srs_upd_dtim srs_date

# source
PropertyNames     src_first_name src_last_name 
PropertyNames     src_first_name_lc src_last_name_lc 
PropertyNames     primary_city primary_state primary_country primary_zip primary_county 
PropertyNames     primary_city_lc 
PropertyNames     primary_lat primary_long primary_lat_norm primary_long_norm 
PropertyNameAlias primary_lat_norm latitude 
PropertyNameAlias primary_long_norm longitude

# inquiry - inq_org - project - organization
PropertyNames query_uuid query_title
PropertyNames inq_ext_title_lc

# response - question
PropertyNamesNoStripChars qa
PropertyNames ques_uuid ques_value

# required alias
PropertyNames       srs_ts
PropertyNameAlias   srs_ts lastmod

