IncludeConfigFile shared.config

MetaNameAlias swishdefault responseset

#######################################
# Meta                                #
#######################################

# src_response_set
MetaNames       srs_id srs_uuid srs_date srs_uri srs_type srs_public_flag
MetaNameAlias   srs_id uuid
MetaNames       srs_cre_dtim creator creator_fl creator_uuid
MetaNames       srs_upd_dtim updater updater_fl updater_uuid
MetaNames       srs_ts srs_year srs_month
MetaNames       srs_public_flag
MetaNames       permission_granted public_flags publish_state
MetaNames       responseset.authz

# source
MetaNames       src_uuid src_name src_username src_first_name src_last_name src_status
MetaNameAlias   src_first_name first_name
MetaNameAlias   src_last_name last_name
MetaNames       primary_email
MetaNames       primary_phone
MetaNames       primary_city primary_state primary_country primary_zip primary_county
MetaNames       primary_org_name primary_org_uuid primary_org_display_name
MetaNames       birth_year education_level ethnicity gender household_income
MetaNames       political_affiliation religion
MetaNames       primary_lat primary_long primary_lat_norm primary_long_norm
MetaNameAlias   primary_lat_norm latitude
MetaNameAlias   primary_long_norm longitude
MetaNameAlias   primary_state state
MetaNameAlias   primary_city city
MetaNameAlias   primary_country country
MetaNameAlias   primary_zip zip postal_code
MetaNameAlias   primary_county county

# inquiry - inq_org - project - organization
MetaNames       inq_uuid inq_title inq_ext_title inq_uuid_title
MetaNames       inq_cre_dtim inq_publish_dtim inq_cre_user
MetaNameAlias   inq_uuid_title inquiry query
MetaNames       inq_org_name inq_org_id inq_org_uuid inq_org_html_color
MetaNames       prj_uuid prj_uuid_title prj_name prj_display_name
MetaNameAlias   prj_uuid_title project
MetaNames       org_name org_id org_uuid orgid_status
MetaNameAlias   org_name newsroom

# response - question
MetaNames       responses.count sr_ids
MetaNames       qa qa_mod ques_uuid_value
MetaNameAlias   ques_uuid_value question
MetaNameAlias   qa response

# tags - annotations
MetaNames       tag
MetaNames       srsan_value sran_value

# users
MetaNames       user_read user_star

# bin
MetaNames       bin

#######################################
# Properties                          #
#######################################

# src_response_set
PropertyNames       srs_id srs_uuid srs_date srs_uri srs_type srs_public_flag
PropertyNames       srs_cre_dtim creator creator_fl creator_uuid
PropertyNames       srs_upd_dtim updater updater_fl updater_uuid
PropertyNames       srs_ts srs_year srs_month
PropertyNameAlias   srs_upd_dtim lastmod
PropertyNames       srs_public_flag
PropertyNames       permission_granted public_flags publish_state
PropertyNames       responseset.authz

# source
PropertyNames       src_uuid src_name src_username src_first_name src_last_name src_status
PropertyNames       src_first_name_lc src_last_name_lc
PropertyNames       primary_email
PropertyNames       primary_phone
PropertyNames       primary_city primary_state primary_country primary_zip primary_county
PropertyNames       primary_city_lc
PropertyNames       primary_org_name primary_org_uuid primary_org_display_name
PropertyNames       primary_org_name_lc primary_org_display_name_lc
PropertyNames       birth_year education_level ethnicity gender household_income
PropertyNames       political_affiliation religion
PropertyNames       household_income_seq education_level_seq political_affiliation_seq
PropertyNames       ethnicity_lc gender_lc religion_lc
PropertyNames       primary_lat primary_long primary_lat_norm primary_long_norm
PropertyNameAlias   primary_lat_norm latitude
PropertyNameAlias   primary_long_norm longitude

# inquiry - inq_org - project - organization
PropertyNames       inq_uuid inq_title inq_ext_title inq_uuid_title
PropertyNames       inq_title_lc inq_ext_title_lc
PropertyNames       inq_cre_dtim inq_publish_dtim inq_cre_user
PropertyNames       inq_org_name inq_org_id inq_org_uuid inq_org_html_color
PropertyNames       prj_uuid prj_uuid_title prj_name prj_display_name
PropertyNames       org_name org_uuid orgid_status

# response - question
PropertyNames       responses.count sr_ids
PropertyNamesNoStripChars qa qa_mod
PropertyNames       ques_uuid_value

# tags - annotations
PropertyNames       tag
PropertyNames       srsan_value sran_value

# users
PropertyNames       user_read user_star

# bin
PropertyNames       bin
