DefaultContents XML*
IndexContents XML* gz xml

# skip any non-xml docs in the tree
FileRules filename contains \.xml\.tmp
FileMatch filename contains \.xml
FileRules filename contains last_modified\.
FileRules filename contains indexer\.lock

# use base filename as uri (it is uuid)
ReplaceRules replace "^/.+/" ""
ReplaceRules remove "\\.xml"

# all terms get indexed under multiple MetaNames
CascadeMetaContext on

MetaNames swishlastmodified
MetaNames annotation 
PropertyNames annotation
