# include the activities config since we xinclude
IncludeConfigFile shared.config

# "source" is the entire record
MetaNameAlias swishdefault source
MetaNames     src_id src_uuid src_username src_last_name src_first_name src_pre_name src_post_name
MetaNameAlias src_first_name first_name
MetaNameAlias src_last_name last_name
MetaNames     src_created_date src_cre_dtim src_modified_date src_upd_dtim src_created_year src_created_month src_modified_year src_modified_month
MetaNameAlias src_created_date created created_date
MetaNameAlias src_modified_date modified updated modified_date
MetaNameAlias src_created_year created_year
MetaNameAlias src_created_month created_month
MetaNameAlias src_modified_year modified_year
MetaNameAlias src_modified_month modified_month
MetaNames     org_name orgid_status org_status org_status_date org_status_year org_status_month src_status source.authz
MetaNames     primary_city primary_state primary_country primary_zip primary_county
MetaNames     primary_lat primary_long primary_lat_norm primary_long_norm
MetaNameAlias primary_lat_norm latitude
MetaNameAlias primary_long_norm longitude
MetaNames     primary_email primary_phone primary_org_name primary_org_uuid
MetaNameAlias primary_org_name newsroom
MetaNames     last_exported_date
MetaNames     last_queried_date last_queried_year last_queried_month
MetaNames     last_contacted_date last_contacted_year last_contacted_month
MetaNames     contacted_date contacted_year contacted_month
MetaNames     last_response_date last_response_year last_response_month
MetaNames     first_response_date first_response_year first_response_month
MetaNames     last_activity_date last_activity_year last_activity_month
MetaNameAlias last_response_date last_response last_responded last_responded_date
MetaNameAlias first_response_date first_response first_responded first_responded_date
MetaNameAlias last_queried_date last_queried
MetaNames     birth_year education_level ethnicity gender household_income
MetaNames     user_education_level user_ethnicity user_gender user_household_income
MetaNames     user_education_level_id user_ethnicity_id user_gender_id user_household_income_id
MetaNames     src_education_level src_ethnicity src_gender src_household_income
MetaNames     src_education_level_id src_ethnicity_id src_gender_id src_household_income_id
MetaNames     lifecycle political_affiliation religion source_website timezone
MetaNames     user_political_affiliation src_political_affiliation user_religion src_religion
MetaNames     user_political_affiliation_id src_political_affiliation_id user_religion_id src_religion_id
MetaNames     tag qa modified_qa srs_uuid srs_date is_translated confidence referrer
MetaNames     sact_notes sact_desc activity_type_date activity_type_year activity_type_month sact_actm_id
MetaNames     smadd_city smadd_state smadd_zip smadd_county smadd_cntry sph_number sph_ext sph_context sem_email smadd_line_1 smadd_line_2
MetaNameAlias smadd_city city
MetaNameAlias smadd_state state
MetaNameAlias smadd_cntry country
MetaNameAlias smadd_county county
MetaNameAlias smadd_zip zip zipcode zip_code postal_code
MetaNameAlias sph_number phone phonenumber
MetaNameAlias sph_context phonetype phone_type
MetaNameAlias sem_email email
MetaNames     inq_uuid prj_uuid prj_name inq_sent inq_sent_date inq_org_date
MetaNameAlias prj_name project
MetaNameAlias sact_actm_id activity_id
MetaNames     so_org_id
MetaNames     response_sets.count activities.count inquiries.count
MetaNames     vita interest experience experience_start experience_end
MetaNames     preferred_language
MetaNameAlias preferred_language pref_lang
MetaNameAlias src_uuid uuid
MetaNameAlias so_org_id org_id
MetaNameAlias inq_uuid query
MetaNameAlias qa response submission
MetaNamesRank 8 vita
MetaNamesRank 10 tag
MetaNames     org_uuid
MetaNames     sv_value sv_basis
MetaNameAlias sv_value experience_what job_title
MetaNameAlias sv_basis experience_where employer
MetaNames     valid_email src_channel src_has_acct
MetaNames     out_uuid out_headline out_url out_teaser outcome
MetaNames     srcan_value
MetaNames     sa_first_name sa_last_name alias
MetaNameAlias sa_first_name alias_first
MetaNameAlias sa_last_name alias_last
MetaNames      user_read user_star bh_signup_date bh_play_date

PropertyNames       src_id src_uuid src_username src_last_name src_first_name src_pre_name src_post_name source.authz
PropertyNames       org_name orgid_status org_status org_status_date org_status_year org_status_month src_status
PropertyNames       last_exported_date
PropertyNames       last_queried_date last_queried_year last_queried_month
PropertyNames       last_contacted_date last_contacted_year last_contacted_month
PropertyNames       contacted_date contacted_year contacted_month
PropertyNames       last_response_date last_response_year last_response_month
PropertyNames       first_response_date first_response_year first_response_month
PropertyNames       last_activity_date last_activity_year last_activity_month
PropertyNames       src_created_date src_modified_date src_created_year src_created_month src_modified_year src_modified_month
PropertyNames       birth_year education_level ethnicity gender household_income
PropertyNames       lifecycle political_affiliation religion source_website timezone
PropertyNames       user_education_level user_ethnicity user_gender user_household_income
PropertyNames       src_education_level src_ethnicity src_gender src_household_income
PropertyNames       user_political_affiliation src_political_affiliation user_religion src_religion
PropertyNames       primary_city primary_state primary_zip primary_country primary_phone primary_email primary_org_name primary_org_uuid primary_county
PropertyNames       primary_lat primary_long primary_lat_norm primary_long_norm
PropertyNameAlias   primary_lat_norm latitude
PropertyNameAlias   primary_long_norm longitude
PropertyNames       sv_value sv_basis experience interest
PropertyNameAlias   sv_value experience_what job_title
PropertyNameAlias   sv_basis experience_where employer
PropertyNames       tag qa modified_qa srs_uuid srs_date is_translated confidence referrer
PropertyNames       smadd_city smadd_state smadd_zip smadd_county smadd_cntry sph_number sph_ext sph_context
PropertyNameAlias   smadd_city city
PropertyNameAlias   smadd_state state
PropertyNameAlias   smadd_cntry country
PropertyNameAlias   smadd_county county
PropertyNameAlias   smadd_zip zip zipcode zip_code postal_code
PropertyNameAlias   sph_number phone phonenumber
PropertyNameAlias   sph_context phonetype phone_type
PropertyNames       src_upd_dtim
PropertyNames       inq_uuid prj_uuid inq_sent inq_sent_date inq_org_date
PropertyNames       response_sets.count activities.count inquiries.count
PropertyNames       sact_notes sact_desc activity_type_date activity_type_year activity_type_month
PropertyNameAlias   src_upd_dtim lastmod
PropertyNames       org_uuid src_channel src_has_acct
PropertyNames       out_uuid out_headline out_url out_teaser out_dtim outcome
PropertyNames       sa_first_name sa_last_name alias
PropertyNameAlias   sa_first_name alias_first
PropertyNameAlias   sa_last_name alias_last
PropertyNames       user_read user_star bh_signup_date bh_play_date
